@media(min-width: 1500px) {
	.banner-v2 .banner-item {
		height: 1100px;
	}

	.banner-v2 .banner-v2-img .banner-ico.banner-ico-1 {
		width: 94px;
	}

	.featured-area:before {
		width: 36%;
		height: 100%;
	}

	.featured-area:after {
		width: 40%;
		height: 69%;
	}

	.blog-and-social-area:before {
		width: 38%;
		height: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.banner-content .banner-title {
		font-size: 60px;
	}

	.banner-v2 .banner-item {
		height: 660px;
	}

	.banner-v2 .banner-title {
		font-size: 40px;
		margin-bottom: 22px;
	}

	.banner-v2-img .banner-ico {
		max-width: 52px;
	}

	.xs-tabs-menu a {
		padding: 30px 6px;
	}

	.hidden-title {
		font-size: 140px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.section-p-120 {
		padding: 80px 0;
	}

	/*-------------- menu ------------*/
	.navigation-portrait .nav-menus-wrapper {
		background-color: #010029;
	}

	.nav-toggle:before {
		background-color: #f5f5f5;
		box-shadow: 0 0.5em 0 0 #e4e4e4, 0 1em 0 0 #ffffff;
	}

	.navigation-portrait .nav-menu>li {
		border-color: #000;
	}

	/*------------------- banner ---------------*/
	.banner-item {
		min-height: inherit;
	}

	.banner-content .banner-title {
		font-size: 55px;
		margin-bottom: 26px;
	}

	.banner-img-item .banner-ico {
		max-width: 45px;
	}

	.banner-v2 .banner-item {
		height: 500px;
	}

	.banner-v2 .banner-title {
		font-size: 34px;
		margin-bottom: 20px;
	}

	.banner-v2 .banner-v2-img .banner-ico.banner-ico-1 {
		max-width: 40px;
	}

	/*-------------- blockcain -----------*/
	.blockcain-top {
		padding-right: 0;
	}

	.blockcain-img {
		margin-bottom: 50px;
	}

	.column-title {
		font-size: 30px;
	}

	.section-title-item .section-title {
		font-size: 30px;
		margin-bottom: 60px;
		line-height: 35px;
	}

	.main-fetured-item {
		padding: 80px 15px;
	}

	.main-fetured-item .single-feaured-item {
		padding: 0 0px;
	}

	.feature-title {
		font-size: 17px;
	}

	.hidden-title {
		font-size: 114px;
	}

	.blockcain-v3 {
		padding: 70px 0 70px;
	}

	/*------------- featured ---------*/
	.featured-sec {
		padding-bottom: 80px;
	}

	.blockcain-business-sec {
		padding: 72px 0 52px;
	}

	.section-padding {
		padding: 78px 0;
	}

	.work-video {
		margin-top: 50px;
	}

	.blog-featured-post {
		margin-bottom: 50px;
	}

	.single-social-list {
		margin-bottom: 30px;
	}

	.footer-widget {
		margin-bottom: 40px;
	}

	/* Edit */
	.nav-menus-wrapper {
		display: block;
	}
	.nav-menu {
		display: block;
	}
	/* Edit */
}

@media only screen and (max-width: 767px) {

	.section-padding {
		padding: 60px 0 0;
	}

	.section-p-120 {
		padding: 60px 0;
	}

	/*---------- display none opt ----*/
	.featured-area:before,
	.featured-poligonal-img,
	.how-work-and-token-area:before,
	.how-work-and-token-area:after,
	.chart-label li img,
	.roadmap-timeline img,
	.roadmap-timeline-item .xs-roadmap:before,
	.single-roadmap-timeline:after,
	.single-roadmap-timeline:before,
	.document-and-team-area:before,
	.document-and-team-area:after,
	.blockcain-top:before,
	.single-roadmap-timeline b {
		display: none;
	}

	/*---------- section title -------*/
	.xs-section-title {
		margin-bottom: 10px;
	}

	.section-title-item .section-title {
		font-size: 26px;
		margin-bottom: 40px;
		line-height: 36px;
	}

	/*--------------- menu ----------*/
	.navigation-portrait .nav-menus-wrapper {
		background-color: #010029;
	}

	.navigation-portrait .nav-menu>li {
		border-top: solid 1px #0f183a;
		border-bottom: 1px solid #000;
	}

	.nav-toggle:before {
		background-color: #f5f5f5;
		box-shadow: 0 0.5em 0 0 #e4e4e4, 0 1em 0 0 #ffffff;
	}

	/*---------- banner area ------*/
	.banner-item {
		min-height: 0;
		padding-top: 131px;

	}

	.banner-content .banner-title {
		font-size: 30px;
		margin-bottom: 17px;
		line-height: 45px;
	}

	.banner-content p,
	.blockcain-top {
		padding: 0;
	}

	.banner-img-item {
		margin: 20px 0 0;
	}

	.banner-img-item .banner-img {
		width: 100%;
	}

	.banner-img-item .banner-ico {
		max-width: 28px;
		animation: bounce 1s ease-in-out 0s alternate;
	}

	.banner-v2 .banner-item {
		height: 550px;
		padding-top: 100px;
	}

	.banner-v2 .banner-v2-img .banner-ico.banner-ico-1 {
		right: 26%;
		top: 31%;
		max-width: 38px;
		animation: bounce 1s ease-in-out 0s alternate;
	}

	.banner-v3 {
		padding-bottom: 50px;
	}

	/*------------- blockcain -----*/
	.main-fetured-item {
		padding: 50px 0;
	}

	.blockcain-top-sec {
		padding: 50px 0;
	}

	.column-title {
		font-size: 26px;
		line-height: 42px;
	}

	.blockcain-top-content p:last-child {
		margin-bottom: 0;
	}

	.main-fetured-item .single-feaured-item img {
		margin-bottom: 30px;
	}

	.main-fetured-item .single-feaured-item {
		padding: 0 80px;
		margin-bottom: 40px;
	}

	.main-fetured-item [class*='col-']:last-of-type .single-feaured-item {
		margin-bottom: 0;
	}

	.blockcain-business-sec {
		padding: 76px 0px 0;
	}

	.blockcain-img,
	.xs-count-down {
		margin-bottom: 40px;
	}

	/*------------- blockcain v3 ------------*/
	.hidden-title {
		font-size: 90px;
	}

	.blockcain-business-v3 {
		padding-bottom: 60px;
	}

	/*---------- blog ----*/
	.xs-blog-title {
		font-size: 22px;
	}

	.blog-featured-post .blog-featured-content {
		padding: 0 27px 20px;
	}

	.single-blog-post .xs-post-title {
		font-size: 16px;
	}

	/*------------- footer area -----*/
	.footer-area {
		padding: 50px 0;
	}

	.footer-widget {
		margin-bottom: 40px;
	}

	.footer-widget.support {
		margin-left: 0;
	}

	.footer-widget .widget-title {
		font-size: 20px;
		margin-bottom: 18px;
	}

	.widget-subscibe .subscribe-email {
		margin-top: 10px;
	}

	/* Edit */
	.nav-menus-wrapper {
		display: block;
	}
	.nav-menu {
		display: block;
	}
	/* Edit */
}

@media only screen and (max-width: 567px) {

	/*----------- banner animation -----*/
	.banner-img-item .banner-ico {
		max-width: 22px;

	}

	.banner-ico.banner-ico-1 {
		left: 19.8%;
		top: 32%;
	}

	.banner-ico.banner-ico-2 {
		left: 29%;
		top: 0;
	}

	.banner-ico.banner-ico-4 {
		right: 31.2%;
		top: 7%;
	}

	.banner-ico.banner-ico-3 {
		top: 22%;
		left: 50%;
	}

	.banner-ico.banner-ico-5 {
		right: 14.8%;
		top: 28%;

	}

	.banner-v2 .banner-item {
		height: 470px;
	}

	.banner-v2-img {
		display: none;
	}

	/*---- featured area -----------*/
	.main-fetured-item .single-feaured-item {
		padding: 0 20px;
		margin-bottom: 40px;
	}

	/*----------- footer area ------*/
	.footer-area [class*='col-']:last-of-type .footer-widget {
		margin-bottom: 0;
	}
}

/* ------------------------
    Responsive Css
------------------------*/

@media (max-width: 1200px) {

	/*Other*/
	#svg-container {
		width: 85%;
	}

}


@media (max-width: 992px) {

	/*Step*/
	.work-process .box-loader {
		display: none;
	}

	.step-desc p {
		max-width: 300px;
		margin: 0 auto;
	}

	/*Testimonial*/
	.testimonial-carousel.testimonial-2 .controls li {
		width: 80px;
		height: 80px;
	}

	.testimonial-content p {
		font-size: 16px;
		line-height: 30px;
	}

	.testimonial.style-3 {
		display: inline-block;
	}

	.testimonial.style-3 .testimonial-img {
		width: 30%;
	}

	.testimonial.style-5 .testimonial-content {
		margin-left: -60px;
		padding: 30px 30px 30px 90px;
	}

	/*Other*/
	#svg-container {
		width: 100%;
		transform: rotate(90deg);
		left: 0;
		top: 50%;
	}

}

@media (max-width: 767px) {

	/*Testimonial*/
	.testimonial .testimonial-quote {
		font-size: 150px;
		line-height: 150px;
	}

	.testimonial.style-2 .testimonial-img {
		width: 25%;
	}

	.testimonial-2 .controls li:nth-child(1),
	.testimonial-2 .controls li:nth-child(4) {
		bottom: 0;
	}

	.testimonial-2 .controls li:nth-child(2),
	.testimonial-2 .controls li:nth-child(3) {
		bottom: 68%;
	}

	.testimonial.style-3 .testimonial-img {
		width: 50%;
	}

	.testimonial.style-5 {
		display: inline-block;
		margin: 0;
	}

	.testimonial.style-5 .testimonial-img {
		width: 50%;
	}

	.testimonial.style-5 .testimonial-content {
		margin-left: 0;
		padding: 100px 30px 30px 30px;
		margin-top: -100px;
	}

}

@media (max-width: 576px) {

	/*Step*/
	.work-process.style-2 {
		display: block;
	}

	.work-process.style-2 .step-num-box {
		margin-bottom: 30px;
		margin-right: 0;
	}

	/*Testimonial*/
	.testimonial.style-1 .testimonial-content {
		margin-right: 20px;
	}

	.testimonial-content p {
		font-size: 16px;
		line-height: 28px;
	}

	.testimonial.style-2 {
		padding: 20px 10px 70px;
	}

	.testimonial.style-2 .testimonial-img {
		width: 50%;
	}

	.testimonial-carousel.testimonial-2 .controls,
	.testimonial-carousel.testimonial-3 .controls {
		position: relative;
		margin-top: 30px;
	}

	.testimonial-carousel.testimonial-2 .controls li {
		width: 100px;
		height: 100px;
		position: relative;
		bottom: inherit;
		left: inherit;
		right: inherit;
		margin: 0 20px 20px;
	}

	.testimonial-carousel.testimonial-2 .controls li:nth-child(3n),
	.testimonial-carousel.testimonial-2 .controls li:last-child {
		margin-bottom: 0;
	}

	.testimonial-carousel.testimonial-3 .controls li {
		position: relative;
		bottom: inherit;
		left: inherit;
		margin-right: 20px;
	}

	.testimonial-carousel.testimonial-3 .controls li:last-child {
		margin-right: 0;
	}

}

@media (max-width: 414px) {
	.align-to-right {
		float: left;
	}

	.banner-content .banner-title {
		font-size: 24px;
	}

	p {
		font-size: 15px;
	}

	.main-fetured-item .single-feaured-item .feature-title {
		font-size: 18px;
	}

	.column-title {
		font-size: 18px;
	}

	.step h2 {
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 20px;
	}

	.step-desc p {
		margin-bottom: 25px !important;
	}

	.testimonial {
		padding: 0;
	}

	.testimonial canvas {
		display: none;
	}

	.testimonial .testimonial-caption h5 {
		font-size: 16px;
	}

	.testimonial .testimonial-caption label {
		font-size: 14px;
	}

	.testimonial h2 {
		font-size: 20px;
	}
}